body{
    background-color: #D2E4F1;
    font-family: 'Fira Sans', sans-serif;
}

.navbar{
    background-color: #D2E4F1 !important;
}
.containerNavBar img{
    height: 50px;
}

.row-opciones .col-2{
    width: 23% !important;
}

.row-opciones{
    background-color: #EEEEEE;
    margin-left: 5%;
    margin-right: 5%;
    
    justify-content: center;
}

.row-opciones a{
    background-color: #2952ac;
    margin: 1%;
    color: white;
    height: 300px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    padding: 2%;
}


.row-opciones span{
    font-size: 180px;
    
}

.row-indicaciones{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 3%;
}

.row-indicaciones p{
    color: #2952ac;
    font-size: 20px;
    width: 85%;
    font-weight: bold;
}

.row-indicaciones img{
    width: 5%;
}

#botonsalir {
    height: 100px;
    width: 425px;
    float: right;
    margin-top: 100px;
    margin-right: 50px;
    padding-top: 20px;
}


 /* Medias */
 @media screen and (max-width: 1400px) {
    .row-opciones a{
        height: 280px;
    }

    .row-indicaciones img {
        width: 6%;
    }
}

@media screen and (max-width: 1100px) {
    
        .row-opciones a{
            height: 220px;
        }
        .row-opciones span{
            font-size: 140px;
            
        }

        #botonsalir {
            height: 80px;
            width: 400px;
        }

        #botonsalir {
            padding-top: 17px;
        }

        .row-indicaciones img {
            width: 8%;
        }
}




@media screen and (max-width: 800px) {
    .row-opciones a{
        height: 160px;
    }
    .row-opciones span{
        font-size: 100px;
        
    }

    .row-opciones p{
        font-size: 12px;
    }

    .row-opciones{
        margin-right: 3%;
        margin-left: 3%;
    }

    #botonsalir {
        height: 70px;
        width: 330px;
    }

    #botonsalir {
        padding-top: 12px;
    }

    .row-indicaciones img {
        width: 10%;
    }
}




@media screen and (max-width: 575px) {
    .row-opciones a{
        height: 120px;
    }
    .row-opciones span{
        font-size: 60px;
        
    }

    .row-opciones p{
        font-size: 11px;
    }

    .row-opciones{
        margin-right: 1%;
        margin-left: 1%;
    }

    .row-indicaciones img {
        width: 13%;
    }
}


@media screen and (max-width: 500px) {
    .row-opciones p{
        font-size: 11px;
    }

    .row-opciones .col-2 {
        width: 47% !important;
    }

    #botonsalir {
        height: 70px;
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-right: 5%;
    }

    .row-indicaciones img {
        width: 15%;
    }

    .row-indicaciones p{
        font-size: 16px;
    }
}

