body{
    font-family: 'Fira Sans', sans-serif;
    background-color:#D2E4F1;
}
#a{
    height: 100px;
    margin: 10px;
}

#b{ 
    height:200px;
}

#y{ 
    margin-bottom: 200px;
}

#final{
    height:150px;
    background-color:#D2E4F1;
}

#botonmenuprincipal{
    height: 100px;
    width: 425px;
    background-color: #2952ac;
    float: left;
    margin-left: 100px;
    padding-top: 20px;
}

#botonsalir {
    height: 100px;
    width: 425px;
    float: right;
    margin-right: 100px;
    padding-top: 20px;
}

#depositar, #retirar{
    background-color: #2952ac;
    height: 100px;
    width: 425px;
    float: right;
    margin-right: 300px;
    
}

#deposito, #retiro{
    height: 100px;
    width:425px;
    font-size: 70px;
    text-align: right;
    float: left;
    margin-left: 300px;
}

#saldox{
    text-align: center;
}

/* Medias */

@media screen and (max-width: 1500px) {
 
    
    #deposito, #retiro {
        width:320px;
        margin-left: 200px;
    }

    #depositar, #retirar{
        width: 320px;
        margin-right: 200px;
    }
}

@media screen and (max-width: 1100px) {
        #botonsalir, #botonmenuprincipal {
            height: 80px;
            width: 280px;
            padding-top: 17px;
        }

        #deposito, #retiro {
            width:300px;
            margin-left: 20px;
        }
    
        #depositar, #retirar{
            width: 300px;
            margin-right: 50px;
        }
}

@media screen and (max-width: 800px) {
    #botonsalir, #botonmenuprincipal {
        height: 70px;
        width: 150px;
        padding-top: 12px;
    }

    #deposito, #retiro {
        width:90%;
        float: none;
        margin: 0px 5% 0px 5%;
    }

    #depositar, #retirar{
        width:90%;
        float: none;
        margin: 0px 5% 0px 5%;
    }
}

@media screen and (max-width: 575px) {
    #botonsalir, #botonmenuprincipal {
        height: 70px;
        width: 140px;
        padding-top: 12px;
    }
}


@media screen and (max-width: 500px) {
    #botonmenuprincipal{
        height: 70px;
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-right: 5%;
    }

    #botonsalir {
        height: 70px;
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-right: 5%;
    }
}