body{
    font-family: 'Fira Sans', sans-serif;
    background-color:#D2E4F1;
}
#a{

    height: 100px;
    margin: 10px;
   
}
#b{ 
    height:200px;
   
}
#y{
    height:200px;
}



#final{
    height:150px;
    background-color:#D2E4F1;

}
#botonmenuprincipal{
    height: 100px;
    width: 425px;
    background-color: #2952ac;
    float: left;
    margin-left: 100px;
    padding-top: 20px;
}

#botonsalir {
    height: 100px;
    width: 425px;
    float: right;
    margin-right: 100px;
    padding-top: 20px;
}
#saldo{
    text-align: center;
}
#depositar{
    background-color: #2952ac;
    height: 100px;
    width: 425px;
}
#deposito{
    height: 100px;
    width:425px;
    font-size: 70px;
    text-align: right;
}



/* Medias */
@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 1100px) {
    
    

        #botonsalir, #botonmenuprincipal {
            height: 80px;
            width: 300px;
            padding-top: 17px;
        }

        
    
}

@media screen and (max-width: 800px) {
    

    #botonsalir, #botonmenuprincipal {
        height: 70px;
        width: 150px;
        padding-top: 12px;
    }

    
}

@media screen and (max-width: 575px) {
    #botonsalir, #botonmenuprincipal {
        height: 70px;
        width: 140px;
        padding-top: 12px;
    }
}


@media screen and (max-width: 500px) {
    

    #botonmenuprincipal{
        height: 70px;
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-right: 5%;
    }

    #botonsalir {
        height: 70px;
        width: 90%;
        float: none;
        margin-left: 5%;
        margin-right: 5%;
    }

    
}